<!--<div class="dashboard-container">
    <app-header></app-header>
    <div class="main-content">
        <app-sidebar></app-sidebar>
        <div class="content">
             Le contenu principal de votre tableau de bord
            bonjour tout le monde 111111111111111111111111111111111111111111


        </div>
    </div>
</div>-->

<div class="d-flex flex-column vh-100">
  <app-header></app-header>
  <div class="d-flex flex-grow-1">
    <div class="sidebar-container bg-white">
      <app-sidebar></app-sidebar>
    </div>
    <div>Le contenu principal de votre tableau de bord</div>
  </div>
</div>
