<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" class="navbar-dark bg-dark">
        <ul class="list-unstyled components">
            <li>
                <a href="#clientSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <span class="fa fa-user mr-3"></span>Client</a>
                <ul class="collapse list-unstyled" id="clientSubmenu">
                    <li>
                        <a [routerLink]="['/client']"><span class="fa fa-eye mr-3"></span>Consultation Client</a>
                    </li>
                    <li>
                        <a [routerLink]="['/client/Ajout']"><span class="fa fa-plus mr-3"></span>Ajouter Client</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#contratSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <span class="fa fa-file-contract mr-3"></span>Contrat</a>
                <ul class="collapse list-unstyled" id="contratSubmenu">
                    <li>
                        <a [routerLink]="['/contrat/Liste']"><span class="fa fa-list mr-3"></span>Liste des Contrats</a>
                    </li>
                    <li>
                        <a [routerLink]="['/contrat/Ajout']"><span class="fa fa-plus mr-3"></span>Ajouter Contrat</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#caisseSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <span class="fa fa-cash-register mr-3"></span>Caisse</a>
                <ul class="collapse list-unstyled" id="caisseSubmenu">
                    <li>
                        <a [routerLink]="['/facture']"><span class="fa fa-file-invoice-dollar mr-2"></span>Facture</a>
                    </li>
                </ul>
            </li>
            <!--<li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>-->
        </ul>

        <!-- <ul class="list-unstyled CTAs">
            <br><br><br><br><br>
            <li>
                <a href="" class="download">Paramétre</a>
            </li>
            <li>
                <a href="/login" class="article">Déconnection</a>
            </li>
        </ul>-->
    </nav>
</div>