<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="assets/Orange-logo.png" alt="Logo" width="30" height="30"> Orange TM
      </a>
      <div class="dropdown">
          <button class="btn dropdown-toggle text-white" type="button" id="userMenu" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="assets/user_303637.png" alt="User" width="30" height="30" class="rounded-circle">
          <span class="ms-2">{{ username }}</span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="userMenu">
              <li><a class="dropdown-item" href="#"><i class="fas fa-cogs"></i> Parametre</a></li>
              <li>
                  <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/login"><i class="fas fa-sign-out-alt"></i> Déconnexion</a></li>
          </ul>
      </div>
  </div>
</nav>
