.navbar-brand img {
  margin-right: 10px;
}

.dropdown-menu a {
  color: black;
}

.dropdown-menu a:hover {
  background-color: #f8f9fa;
}

.dropdown-menu {
  min-width: 200px;
}

.dropdown-item i {
  margin-right: 8px;
}
